<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="tests/phpunit/bootstrap.php">
    <testsuites>
        <testsuite name="Theme Export JLG">
            <file>tests/test-export-process.php</file>
            <file>tests/test-export-sanitization.php</file>
            <file>tests/test-export-persist-archive.php</file>
            <file>tests/test-export-notifications.php</file>
        </testsuite>
    </testsuites>
</phpunit>
